:root {
	font-family: Arial, Helvetica, sans-serif;
	background-color: azure;
	color: #000000;
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,h2,h3,h4 {
	font-weight: 400;
}

body {
	margin: 0;
	min-height: 100vh;
	background: transparent;
}

main {
	min-height: 100vh;
}
